@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;

		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;

		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;

		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;

		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 10% 3.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border !scroll-smooth;
	}
	body {
		@apply bg-background text-foreground;
	}
	button {
		@apply active:outline-none;
	}
}

@layer utilities {
	.heading {
		@apply font-bold text-4xl md:text-5xl text-center;
	}

	.black-gradient {
		background: linear-gradient(90deg, #161a31 0%, #06091f 100%);
	}
}

.card-hover {
	transform-origin: bottom;
	transform: rotateX(0deg);
	transition: transform 0.5s ease;
}

.card-hover:hover {
	transform: rotateX(20deg);
}

.nav-bar {
	min-height: 70px;
	backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.75);
	border: 1px solid rgba(255, 255, 255, 0.125);
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 35px;
	max-width: fit-content;
	position: relative;
}

.nav-items {
	align-items: center;
	transform-origin: top;
	max-height: 0;
	transition: max-height 1s ease-in-out;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

.nav-item {
	padding: 14px 16px;
}

.nav-item:hover {
	color: rgb(176, 176, 176);
}

.burger {
	display: none;
	cursor: pointer;
	position: absolute;
	top: 7px;
	right: 20px;
	padding: 10px;
}

.bar {
	width: 40px;
	height: 3px;
	background-color: rgb(176, 176, 176);
	margin: 6px 0;
	transition: transform 0.5s ease-in-out;
	transform-origin: center center;
}

.bar1 {
	transform: rotate(0deg) translate(0, 0);
}

.bar2 {
	transform: scaleX(1);
}

.bar3 {
	transform: rotate(0deg) translate(0, 0);
}

.burger.active .bar1 {
	transform: rotate(45deg) translate(6px, 6px);
}

.burger.active .bar2 {
	transform: scaleX(0);
}

.burger.active .bar3 {
	transform: rotate(-45deg) translate(6px, -6px);
}

.show-nav-items {
	max-height: 500px;
}

.hide-nav-items {
	max-height: 0;
}

@media (max-width: 768px) {
	.burger {
		display: block;
	}
	.nav-bar {
		min-width: 100%;
		padding-top: 15px;
		flex-direction: column;
	}
	.nav-items {
		width: 100%;
		align-items: center;
		flex-direction: column;
		height: auto;
	}
	.nav-item {
		width: 100%;
		text-align: center;
		padding: 20px;
	}
}
